@media screen and (max-width: 1200px) {
    header {
        width: 90%;
        margin: 0 auto;
    }

    .intro-content {
        display: inline-block;
        width: 70%;
    }

}

@media screen and (max-width: 1024px) {
    .hero .hero-content {
        padding-top: 50%;
    }
}

/* Responsive nav kicks in */
@media screen and (max-width: 991px) {
    header {
        width: 90%;
        padding-left: 25px;
    }

    .hero .hero-content {
        padding-top: 50%;
    }

    /* Hide old navicon system */
    .navicon {
        display: none !important;
    }

    .intro-content {
        display: inline-block;
        width: 75%;
        margin-bottom: 30px;
    }

    .last {
        margin: 0;
    }

    .features {
        padding-bottom: 0;
    }

    .features .device-showcase,
    .features-extra .macbook-wrap {
        display: none;
    }

    .features .responsive-feature-img,
    .features-extra .responsive-feature-img {
        display: block;
        width: 85%;
        margin: 15% auto 0;
    }

    .features .responsive-feature-img img,
    .features-extra .responsive-feature-img img {
        width: 100%;
    }

    .hero-strip {
        margin-top: 0;
    }

    .events .leftcol {
        padding: 0 15px;
        margin-bottom: 15px;
        border-right: none;
    }

    .events .rightcol {
        padding: 0 20px;
    }
    
    #eng-pics .img-wrap {
        border-radius: 0;
    }

    #map-content-wrapper {
        margin-bottom: 40px;
    }
    
    #map-content {
        margin-top: 0;
        padding: 35px;
    }

    .rsvp {
        padding-top: 40px;
    }

    footer .social-share {
        display: none;
    }

    footer .footer-links {
        margin: 120px 0 120px 0;
    }
}

@media screen and (max-width: 640px) {
    .hero .hero-content {
        padding-top: 100%;
    }

    #eng-pics .img-wrap i {
        font-size: 25px;
        position: absolute;
        width: 25px;
        height: 25px;
        top: 10px;
        right: 10px; }

    #map-content-wrapper {
        margin-bottom: 0;
    }
    
    footer ul.footer-group {
        border-top: none;
    }

    footer ul.footer-group li a {
        font-size: 13px;
        text-transform: uppercase;
        padding: 20px 0;
        display: block;
        border-bottom: dashed 1px #4E566C;
    }

    footer ul.footer-group li {
        display: block;
    }

    footer .footer-links {
        margin: 50px 0 50px 0;
    }

}

@media screen and (max-width: 480px) {
    .hero .hero-content {
        padding-top: 110%;
    }
    
    .hero .hero-content img {
        width: 65%;
    }

    .hero .btn {
        display: block;
        width: 80%;
        margin: 0 auto;
    }

    .hero .btn:first-of-type {
        margin-bottom: 20px;
    }

    .hero h1 {
        font-size: 50px;
    }

    .btn-margin-right {
        margin-right: 0px;
    }

    .features .device-showcase-left {
        position: absolute;
        bottom: -392px;
        left: 41%;
        right: auto;
        transform: translateX(-50%);
    }

    .features .ipad-wrap {
        width: 706px;
        height: 1002px;
        background: url("../img/ipad-device.png") no-repeat center center;
        z-index: 1;
        background-size: 40%;
    }

    .features .iphone-wrap {
        width: 304px;
        height: 617px;
        background: url("../img/iphone6.png") no-repeat center center;
        position: absolute;
        left: 350px;
        bottom: 129px;
        z-index: 2;
        background-size: 40%;
    }

    .features {
        padding-bottom: 0;
    }

    /* Keep down arrow visible on mobile */
    .down-arrow {
        display: block !important;
    }

}

@media screen and (max-width: 320px) {
    .hero .hero-content {
        padding-top: 130%;
    }

    .rsvp {
        padding-top: 20px;
    }
}